@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 17 24 39;
}

.dark {
  --background: 17 24 39;
  --foreground: 243 244 246;
}

html, body, #__next {
  height: 100%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

.glass {
  @apply bg-white/40 dark:bg-white/5 backdrop-blur-md border border-white/30 dark:border-white/10 shadow;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 17 24 39;
}

.dark {
  --bg: 3 7 18;
  --fg: 229 231 235;
}

html, body, #__next {
  height: 100%;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
}

.glass {
  @apply bg-white/60 dark:bg-white/10 backdrop-blur-md shadow-md border border-white/30 dark:border-white/10;
}

